# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=sitio_multitrem

# Cart Service
CART_SERVICE_URL=http://localhost:3002

# Application
PORT=3003
NODE_ENV=development
